/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/*************** body *********************/

body {
  font-family: "Oswald", sans-serif;
  background-color: black;
}

/*************** header *********************/

header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 10px 30px;
}

.logo {
  font-size: 2.5rem;
}

nav ul {
  font-size: 1.8rem;
  display: flex;
  gap: 60px;
}

a {
  text-decoration: none;
  color: white;
}

.menu_portfolio ul {
  display: none;
  position: absolute;
}

.menu_portfolio:hover ul {
  font-size: 1.4rem;
  display: block;
}

/*************** main *********************/

main {
  padding: 10px 30px;
  color: white;
}

h1 {
  font-size: 4rem;
  text-align: center;
}

h2 {
  font-size: 2.5rem;
  text-align: center;
}

p {
  font-size: 1.5rem;
  padding: 20px;
}

.col {
  padding: 40px 20px;
}

/*************** elementer *********************/

#forside_elementer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#lilla_container {
  position: absolute;
  width: 85%;
  aspect-ratio: 2480/1210;
  top: 10%;
  left: 7%;
}

#lilla_sprite {
  width: 100%;
  height: 100%;
  background-image: url(assets/index_lilla1.png);
  background-size: cover;
}

#groen_container {
  position: absolute;
  width: 70%;
  aspect-ratio: 1985/1030;
  top: 30%;
  left: 5%;
}

#groen_sprite {
  width: 100%;
  height: 100%;
  background-image: url(assets/index_groen1.png);
  background-size: cover;
}

/*************** footer *********************/

footer {
  color: black;
}
