/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/*************** body *********************/

body {
  font-family: "Oswald", sans-serif;
  background-color: black;
}

/*************** header *********************/

header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 10px 30px;
}

.logo {
  font-size: 2.5rem;
}

nav ul {
  font-size: 1.8rem;
  display: flex;
  gap: 60px;
}

a {
  text-decoration: none;
  color: white;
}

.menu_portfolio ul {
  display: none;
  position: absolute;
}

.menu_portfolio:hover ul {
  font-size: 1.4rem;
  display: block;
  text-align: left;
}

.menu_portfolio:hover ul a {
  color: purple;
}

/*************** main *********************/

main {
  padding: 10px 30px;
  color: white;
}

h1 {
  font-size: 4rem;
  text-align: center;
}

h2 {
  font-size: 2.5rem;
  text-align: center;
}

p {
  font-size: 1.5rem;
  padding: 20px;
}

.col {
  padding: 40px 20px;
}

/*************** footer *********************/

footer {
  color: black;
}
