/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/*************** body *********************/

body {
  font-family: "Oswald", sans-serif;
  background-color: black;
}

/*************** header *********************/
header {
  background-color: black;
}
/*************** main *********************/

h1 {
  color: white;
  font-size: 4rem;
}

/*************** footer *********************/
