body {
  min-height: 100vh;
}

main {
  max-width: 1200px;
  margin: auto;
}

@media (min-width: 850px) {
  .grid_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .grid_2_1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .grid_1_2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .grid_2_1_1 {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
  }

  .grid_1_3 {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
}

@media (max-width: 850px) {
  .menu {
    display: none;
  }

  .menu {
    display: block;
    cursor: pointer;
  }

  .menu ul:hover {
    list-style: none;
    display: block;
  }

  .menu a {
    color: white;
  }
}
